{% extends 'layouts/layout.html' %}

{% block title %}
    À propos
{% endblock title %}

{% block content %}
    <div class="container about-content mt-5">
        <h1>À propos</h1>
        <p>
            Ce projet a été réalisé dans le cadre du <em>Travail Pratique Individuel</em> (TPI) durant la session de mai - juin 2020.
            Il a pour but de valider les compétences acquises tout au long de la formation <em>Informaticien CFC</em> de l'école du CFPT-Informatique au Petit-Lancy.
        </p>
        <p>
            Animanga est une application web écrite en Python permettant aux utilisateurs de faire leur propre bibliothèque d'anime.
            Pour ce faire, l'utilisateur à la possibilité de créer ses propres listes afin de correctement organisé sa bibliothèque,
            mettre des animes en tant que favoris, et rechercher les animes qu'il voudrait ajouter à sa collection directement depuis cette application.
        </p>
        {{ html | safe }}
    </div>
{% endblock content %}