{% extends 'layouts/layout.html' %}

{% block title %}
    Accueil
{% endblock title %}

{% block content %}
    <div id="override-info"></div>

    {% if not current_user.is_authenticated %}
        <div class="background">
            <img src="{{ url_for('static', filename='img/home-background.png') }}">
        </div>
    {% else %}
        <main class="mt-5 main-home row">
            <section class="col-md-12 col-xl-8">
                {% if search_results|length <= 0 %}
                    <div class="no-search">
                        <h4>Aucune recherche effectuée</h4>
                        <span class="separator"></span>
                        <span>  
                            Faites une recherche pour obtenir des informations sur l’anime souhaité
                        </span>
                        <span>(´。＿。｀)</span>
                    </div>

                    <div class="activities"></div>
                {% else %}
                    <h4>Résultats pour "{{ search_string }}" :</h4>

                    <div class="search-results">
                        {% for anime in search_results %}
                            <div class="result-item">
                                <div class="left">
                                    <img class="picture" src="{{ anime.picture }}">
                                    <span class="title" data-toggle="modal" data-target="#result-item-{{ anime.id }}">{{ anime.title }}</span>
                                </div>
                                <div class="right">
                                    <div class="status">{{ anime.status }}</div>
                                    <div class="type">{{ anime.type }}</div>
                                    <div class="relations row">
                                        {% for relation in anime.relations %}
                                            <img class="relation col-5" src="{{ relation.picture }}" title="{{ relation.title }}" alt="404">
                                        {% endfor %}
                                    </div>
                                    <div class="episodes">{{ anime.episodes }}</div>
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="result-item-{{ anime.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="header">
                                                <div class="header-background">
                                                    <img src="{{ url_for('static', filename='img/home-background.png') }}">
                                                    <div class="dark-layer"></div>
                                                </div>
                                                <img class="thumbnail" src="{{ anime.picture }}">
                                                <div class="title">{{ anime.title }}</div>
                                                <div class="favorite-toggler {{ 'is-favorite' if anime.is_favorite else '' }}" data-id="{{ anime.id }}">
                                                    <svg width="21" height="19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M19.291 1.612a5.5 5.5 0 00-7.78 0l-1.06 1.06-1.06-1.06a5.501 5.501 0 10-7.78 7.78l1.06 1.06 7.78 7.78 7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z" fill="#fff"/>
                                                    </svg>
                                                </div>
                                            </div>

                                            <div class="content">
                                                <fieldset class="status">
                                                    <span>Statut</span>
                                                    <select name="status" class="status_combo">
                                                        <option value="{{ anime.id }}-none">---</option>
                                                        {% for list in user_list[:4] %}
                                                            <option value="{{ anime.id }}-{{ list.id }}" {{ 'selected' if list.id in anime.in_list else '' }}>{{ list.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </fieldset>

                                                <fieldset class="custom">
                                                    <span>Listes personnelles</span>

                                                    <div class="lists">
                                                        {% for list in user_list[4:] %}
                                                            <div class="list-item">
                                                                <div class="custom-check {{ 'checked' if list.id in anime.in_list else '' }}">
                                                                    <input type="checkbox" value="{{ anime.id }}-{{ list.id }}">
                                                                </div>
                                                                <span class="list-title">{{ list.name }}</span>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </section>

            <aside class="col-md-12 col-xl-4">
                <h4>Favoris</h4>

                <div class="favorites-container">
                    <div class="favorites"></div>
                </div>
            </aside>
        </main>
    {% endif %}
{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='js/landing-page-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fetch-favorites.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fetch-activities.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ratio-keeper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/anime-handler.js') }}"></script>
    <script>
        window.addEventListener('load', () => { fetchFavorites(false, false, null); fetchActivities(); });
        
        // Déclaration obligatoire pour que les message du stream puissent être mis dans un élément DOM
        let override_info = document.getElementById('override-info');
    </script>
    <!-- Affiche les messages envoyé par la fonction stream_template -->
    {% for message in override_messages: %}
        <script>
            // Prise en compte du message special 'redirect' pour rediriger l'utilisateur et de ce fait, arréter le stream courant
            if ("{{ message }}" == "redirect") {
                override_info.style.padding = '0';
                window.location.replace("/");
            }

            // Condition obligatoire à cause du script ci-dessus ayant déjà cette variable de déclaré
            if (typeof override_info !== 'undefined') {
                override_info = document.querySelector('#override-info');
            } else {
                let override_info = document.querySelector('#override-info');
            }

            // Utilisation de 'var' pour ne pas avoir de soucis avec des variables déjà déclarlé lors de message précédents
            var msg = document.createElement('span');
            var loader = document.createElement('img');

            override_info.innerHTML = '';
            override_info.style.padding = '.75rem 0';
            msg.innerHTML = '{{ message }}';
            loader.src = '/static/img/loader.svg';
            loader.classList.add('ml-5');
            override_info.appendChild(msg);
            override_info.appendChild(loader);
        </script>
    {% endfor %}
{% endblock script %}