{% extends 'layouts/layout.html' %}

{% block title %}
    Accueil
{% endblock title %}

{% block content %}
    <div id="override-info"></div>

    {% if not current_user.is_authenticated %}
        <div class="background">
            <img src="{{ url_for('static', filename='img/home-background.png') }}">
        </div>
    {% else %}
        <main class="mt-5 main-home row">
            <section class="col-md-12 col-xl-8">
                {% if search_results|length <= 0 %}
                    <div class="no-search">
                        <h4>Aucune recherche effectuée</h4>
                        <span class="separator"></span>
                        <span>  
                            Faites une recherche pour obtenir des informations sur l’anime souhaité
                        </span>
                        <span>(´。＿。｀)</span>
                    </div>

                    <!-- Future affichage des activités -->
                {% else %}
                    <h4>Résultats pour "{{ search_string }}" :</h4>

                    <div class="search-results row">
                        {% for anime in search_results %}
                            <div class="result-item col-lg-4 col-md-6 col-sm-12">
                                <div class="left">
                                    <img class="picture" src="{{ anime.picture }}">
                                    <span class="title">{{ anime.title }}</span>
                                </div>
                                <div class="right">
                                    <div class="status">{{ anime.status }}</div>
                                    <div class="type">{{ anime.type }}</div>
                                    <div class="relations row">
                                        {% for relation in anime.relations %}
                                            <img class="relation col-5" src="{{ relation.picture }}" title="{{ relation.title }}" alt="404">
                                        {% endfor %}
                                    </div>
                                    <div class="episodes">{{ anime.episodes }}</div>
                                </div>
                            </div>

                            <!-- Future modale pour la carte de l'anime -->
                        {% endfor %}
                    </div>
                {% endif %}
            </section>

            <aside class="col-md-12 col-xl-4">
                <!-- Future affichage des favoris -->
            </aside>
        </main>
    {% endif %}
{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='js/landing-page-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ratio-keeper.js') }}"></script>
    <script>
        // Déclaration obligatoire pour que les message du stream puissent être mis dans un élément DOM
        let override_info = document.getElementById('override-info');
    </script>
    <!-- Affiche les messages envoyé par la fonction stream_template -->
    {% for message in override_messages: %}
        <script>
            // Prise en compte du message special 'redirect' pour rediriger l'utilisateur et de ce fait, arréter le stream courant
            if ("{{ message }}" == "redirect") {
                override_info.style.padding = '0';
                window.location.replace("/");
            }

            // Condition obligatoire à cause du script ci-dessus ayant déjà cette variable de déclaré
            if (typeof override_info !== 'undefined') {
                override_info = document.querySelector('#override-info');
            } else {
                let override_info = document.querySelector('#override-info');
            }

            // Utilisation de 'var' pour ne pas avoir de soucis avec des variables déjà déclarlé lors de message précédents
            var msg = document.createElement('span');
            var loader = document.createElement('img');

            override_info.innerHTML = '';
            override_info.style.padding = '.75rem 0';
            msg.innerHTML = '{{ message }}';
            loader.src = '/static/img/loader.svg';
            loader.classList.add('ml-5');
            override_info.appendChild(msg);
            override_info.appendChild(loader);
        </script>
    {% endfor %}
{% endblock script %}