{% extends 'layouts/layout.html' %}

{% block metas %}
<meta id="searched_user" data-nickname="{{ searched_user.nickname }}">
{% endblock metas %}

{% block title %}
    {{ current_user.nickname }} - Profil
{% endblock title %}

{% block content %}
    {% include 'layouts/profile-header.html' %}

    <div class="profile">
        <div class="stats">
            <div class="watched">
                <span class="count">{{ stats['TV'] }}</span>
                <span class="category">TV Watched</span>
            </div>
            <div class="watched">
                <span class="count">{{ stats['Movie'] }}</span>
                <span class="category">Movies Watched</span>
            </div>
            <div class="watched">
                <span class="count">{{ stats['ONA'] }}</span>
                <span class="category">Ona Watched</span>
            </div>
            <div class="watched">
                <span class="count">{{ stats['Special'] }}</span>
                <span class="category">Specials Watched</span>
            </div>
        </div>

        <div class="favorites"></div>
    </div>
{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='js/fetch-favorites.js') }}"></script>
    <script>
        window.addEventListener('load', () => { fetchFavorites(false, false, document.getElementById('searched_user').dataset.nickname) });
    </script>
{% endblock script %}