{% extends 'layouts/layout.html' %}

{% block content %}
    <div class="container-center">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning" id="flash">
                <button type="button" class="close" data-dismiss="alert"><img src="{{ url_for('static', filename='img/close.svg') }}"></button>
                {{ message }}
            </div>
        {% endfor %}
        
        <div class="signup-form">
            <h3>Inscris-toi <br> sur Animanga</h3>

            <form action="/signup" method="post">
                <fieldset>
                    <input type="email" name="email" id="email" placeholder="Email">
                    {% if auth_errors.email %}
                        <ul id="email-errors">
                            {% for error in auth_errors.email %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>

                <fieldset>
                    <input type="text" name="nickname" id="nickname" placeholder="Pseudo">
                    {% if auth_errors.nickname %}
                        <ul id="nickname-errors">
                            {% for error in auth_errors.nickname %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>

                <fieldset>
                    <input type="password" name="password" id="password" placeholder="Mot de passe">
                    {% if auth_errors.password %}
                        <ul id="password-errors">
                            {% for error in auth_errors.password %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>

                <fieldset>
                    <input type="password" name="confirm" id="confirm" placeholder="Confirmer le mot de passe">
                    {% if auth_errors.confirm %}
                        <ul id="confirm-errors">
                            {% for error in auth_errors.confirm %}<li>{{ error }}</li>{% endfor %}
                        </ul>
                    {% endif %}
                </fieldset>

                <div class="submit">
                    <button type="submit">Inscription</button>
                    <span>Déjà un compte ? <a href="{{ url_for('auth_bp.login') }}">Connecte-toi</a></span>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}