/**
 * @filesource _typography.scss
 * @brief Fichier contenant toutes les couleurs utilisées dans mon application
 * @author Tanguy Cavagna <tanguy.cvgn@eduge.ch>
 * @date 2020-04-18
 * @version 1.0.0
 */

$c-white: #fff;
$c-light-gray: #C4C4C4;
$c-primary-light: #1CA5F2;
$c-primary: #006EDB;
$c-background-medium-dark: #272C38;
$c-background-dark: #1F2631;
$c-background-darker: #1F232D;
$c-background-darkest--: #191D26;
$c-background-darkest: #13171D;
$c-accent: #B368E6;
$c-favorite: #F34C56;
$c-danger-background: #e7c2c2;
$c-danger-foreground: #6f2323;
$c-success-background: #9ad6a8;
$c-success-foreground: #0d4419;