/**
 * @filesource _typography.scss
 * @brief Fichier contenant toutes les taiiles utilisées dans mon application
 * @author Tanguy Cavagna <tanguy.cvgn@eduge.ch>
 * @date 2020-04-18
 * @version 1.0.0
 */


// Navbar
//=================
$s-nav-height: 60px;

// Login
//=================
$s-login-form-width: 450px;
$s-login-form-height: auto;

// Register
//=================
$s-register-form-width: 450px;
$s-register-form-height: auto;

// Miscellaneous
//=================
$s-small-border-radius: 5px;