/**
 * @filesource style.scss
 * @brief Fichier contenant tout le style de mon application
 * @author Tanguy Cavagna <tanguy.cvgn@eduge.ch>
 * @date 2020-04-18
 * @version 1.0.0
 */

@import 'typography';
@import 'colors';
@import 'sizes';

// Global
//=================
*{
    font-family: $f-regular;
    color: $c-white;
}
body {
    background: $c-background-medium-dark;
}
input {
    background: $c-background-darkest;
    color: $c-light-gray;
    border: none;
    padding: 10px;
    border-radius: $s-small-border-radius;
}

// Scrollbar
//=================
// Largeur
::-webkit-scrollbar {
    width: 10px;
}
// Fond
::-webkit-scrollbar-track {
    background: $c-background-darker;
}
// Barre
::-webkit-scrollbar-thumb {
    background: $c-background-medium-dark;
}
// Hover de la barre
::-webkit-scrollbar-thumb:hover {
    background: $c-background-darkest;
}

// Navbar
//=================
.navbar {
    background: $c-background-dark;
    height: $s-nav-height;
}
.nav-link {
    color: $c-white;
    font-family: $f-nav-link;
    letter-spacing: .15rem;
    font-size: .9rem;
    margin-right: 20px;

    &:hover {
        color: #c3c3c3;
    }
}
.dropdown-item span.danger {
    padding: .25rem .5rem;
    background-color: $c-danger-background;
    color: $c-danger-foreground;
    border-radius: 5px;
}
.navbar-toggler:not(:disabled) ~ .navbar-collapse.show,
.navbar-toggler:not(:disabled) ~ .navbar-collapse.collapsing {
    margin-top: 15px;
}
.navbar-toggler-icon {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Login & Regsiter
//=================
.login-form {
    width: $s-login-form-width;
    height: $s-login-form-height;
    padding-bottom: 60px;
}
.signup-form {
    width: $s-register-form-width;
    height: $s-register-form-height;
    padding-bottom: 60px;
}
.login-form,
.signup-form {
    background: $c-background-darker;
    border-radius: $s-small-border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form h3,
.signup-form h3 {
    color: $c-light-gray;
    font-family: $f-section-title;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.login-form form,
.signup-form form {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;

    fieldset {
        width: 100%;
    }
    ul {
        list-style-type: none;
        background-color: $c-danger-background;
        padding: 5px 0 5px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: $s-small-border-radius;
    }
    ul li {
        color: $c-danger-foreground;
        font-family: $f-regular;
        font-weight: 600;
    }
    input {
        margin-bottom: 7%;
        width: 100%;
        font-family: $f-regular;
        font-weight: bold;
    }
    .submit {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: auto;
            font-size: 1.3rem;
            border: none;
            border-radius: $s-small-border-radius;
            background: $c-accent;
            color: $c-white;
            padding: 5px 20px 5px 20px;
            margin-bottom: 15px;
        }

        span {
            color: $c-white;
        }
    }
}

// Search modal
//=================
.search-modal {
    margin-top: 4%;

    .modal-dialog {
        max-width: none;
        width: 40%;
    }
}
.search-form {
    display: flex;
    flex-direction: row;
    background: $c-background-medium-dark;

    div:first-child {
        position: relative;
        margin-left: 10px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%);
            width: 20px;
            opacity: .4;
        }
    }
    div:last-child {
        position: relative;
        margin-left: 10px;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%);
            width: 20px;
            opacity: .4;
        }
    }
    input {
        width: 85%;
        margin-left: 30px;
        font-family: $f-regular;
        font-weight: bold;
    }
}
.search-string {
    background-color: $c-background-medium-dark;
}
.search-clear:hover {
    cursor: pointer;
}

// Home
//=================
#override-info {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    color: $c-white;
    width: 40%;
    padding: 0;
    background: $c-background-darker;
    border-radius: $s-small-border-radius;
    text-align: center;
    z-index: 10;
}
#overrided {
    position: absolute;
    left: 50%;
    width: 40%;
    transform: translateX(-50%);
    top: 90px;

    button {
        margin: auto;
    }
}
.main-home {
    max-width: 100%;

    section {
        padding-left: 80px;

        h4 {
            font-family: $f-section-title;
            letter-spacing: .3rem;
            font-size: 1.7rem;
            margin: auto;
            text-align: center;
            margin-bottom: 30px;
        }
        .search-results {
            display: grid;
            grid-template-columns: repeat(auto-fill, 350px);
            column-gap: 50px;
            row-gap: 20px;

            .result-item {
                display: flex;
                position: relative;
                height: auto;

                .left, .right {
                    flex: 50%;
                    position: relative;
                }
                .left {
                    .picture {
                        width: 100%;
                        height: calc(100% * 0.73333);
                        border-radius: $s-small-border-radius 0 0 $s-small-border-radius;
                    }
                    .title {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        bottom: 0;
                        text-align: center;
                        background: rgba($color: $c-background-dark, $alpha: .8);
                        border-radius: 0 0 0 $s-small-border-radius;
                        font-size: .9rem;
                        padding: .5rem;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .right {
                    .status,
                    .type,
                    .relations,
                    .episodes {
                        width: 100%;
                        min-height: 30px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .status {
                        border-radius: 0 $s-small-border-radius 0 0;
                        background: $c-background-darkest;
                        color: $c-primary-light;
                    }
                    .type {
                        background: $c-background-darkest--;
                        color: $c-light-gray;
                    }
                    .relations {
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        background: $c-background-darker;
                        max-height: calc(100% - (3 * 30px));
                        min-height: calc(100% - (3 * 30px));
                        overflow-x: hidden;
                        overflow-y: auto;
                        padding: 15px;
                        margin-left: 0;

                        img {
                            border-radius: $s-small-border-radius;
                            margin-bottom: 15px;
                            padding: 0;
                        }
                    }
                    .episodes {
                        border-radius: 0 0 $s-small-border-radius 0;
                        background: $c-background-darkest--;
                        color: $c-light-gray;
                    }
                }
                .modal .modal-dialog {
                    max-width: none;
                    width: 50%;

                    .modal-content {
                        background: $c-background-darkest--;

                        .header {
                            position: relative;
                            height: 170px;
                            width: 100%;

                            .header-background {
                                height: 100%;

                                img {
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: $s-small-border-radius $s-small-border-radius 0 0;
                                }
                                .dark-layer {
                                    top: 0;
                                    left: 0;
                                    height: 100%;
                                    width: 100%;
                                    background: rgba($color: #000000, $alpha: .5);
                                    border-radius: $s-small-border-radius $s-small-border-radius 0 0;
                                }
                            }
                            .thumbnail,
                            .dark-layer,
                            .title,
                            .favorite-toggler,
                            .save {
                                position: absolute;
                            }
                            .thumbnail {
                                left: 5%;
                                top: 20%;
                                width: 140px;
                                border-radius: $s-small-border-radius;
                            }
                            .title {
                                left: 25%;
                                bottom: 5%;
                                max-width: 400px;
                            }
                            .favorite-toggler {
                                bottom: 7%;
                                right: 2%;
                            }
                            .favorite-toggler:hover {
                                cursor: pointer;
                            }
                            .favorite-toggler:hover svg path,
                            .favorite-toggler.is-favorite svg path {
                                fill: $c-favorite;
                            }
                            .save {
                                right: 2%;
                                bottom: 2%;
                                background: $c-primary-light;
                                color: $c-white;
                            }
                        }
                        .content {
                            padding: 80px 5% 0 5%;
                            min-height: 200px;
                            height: auto;
                            background: $c-background-darkest--;
                            border-radius: 0 0 $s-small-border-radius $s-small-border-radius;

                            fieldset {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                margin-bottom: 20px;

                                & > span:first-child {
                                    margin-bottom: 10px;
                                    font-family: $f-regular;
                                    font-weight: bold;
                                    letter-spacing: .2rem;
                                }
                            }
                            .status {
                                select {
                                    background: $c-background-medium-dark;
                                    color: $c-light-gray;
                                    padding: 5px 0 5px 15px;
                                    width: 30%;
                                    outline: none;
                                    border: none;
                                    border-radius: 5px;
                                    margin-left: 20px;

                                    option:hover {
                                        background: $c-background-darkest;
                                    }
                                }
                            }
                            .custom .lists {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                flex-wrap: wrap;
                                max-height: 130px;
                                overflow-x: auto;
                                padding-left: 20px;

                                .list-item {
                                    display: flex;
                                    margin-bottom: 10px;
                                    min-width: 300px;

                                    .list-title {
                                        font-size: .9rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .activities {
            margin-top: 5%;
            padding-top: 5%;
            height: auto;
            border-top: 3px solid $c-background-darkest;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 30px;
            margin-bottom: 50px;

            .activity {
                width: 100%;
                height: 200px;
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                div {
                    width: 100%;
                    z-index: 0;

                    img {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        opacity: .3;
                        z-index: -1;
                    }
                    .activity__subject {
                        width: 100%;
                        text-align: center;
                        z-index: 1;
                        background-color: rgba($color: $c-background-darker, $alpha: .7);
    
                        span {
                            color: $c-primary-light;
                            font-weight: bold;
                            font-size: 1.8rem;
                        }
                    }
                    .activity__timestamp {
                        z-index: 1;
                        position: absolute;
                        top: 5%;
                        right: 5%;
                        font-family: $f-nav-link;
                        color: $c-light-gray;
                    }
                }
            }
            .no-activities {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                
                h4, span {
                    color: $c-light-gray;
                }
                span {
                    font-weight: bold;
                    font-size: 4rem;
                    opacity: .5;
                }
            }
        }
    }
    aside {
        padding: 0 80px;

        h4 {
            padding-left: 30px;
            color: $c-light-gray;
            font-family: $f-nav-link;
            font-size: .9rem;
            letter-spacing: .25rem;
            margin-bottom: 20px;
        }
    }
}

// About
//=================
.about-background {
    opacity: .2;
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-content {
    z-index: 1;
    text-align: justify;

    h1 {
        font-family: $f-nav-link;
        text-transform: uppercase;
    }
    h2 {
        font-weight: bold;
    }
    h2 + h3 {
        margin-top: 0;
    }
    h3 {
        margin-top: 15%;
    }
    img {
        max-width: 100%;
    }
}

// Profile
//=================
.profile-header {
    .header {
        position: relative;
        height: 40vh;

        .banner,
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
        }
        .overlay {
            background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.55) 100%);;
        }
        .profile-picture {
            position: absolute;
            width: 10%;
            min-width: 125px;
            height: auto;
            left: 5%;
            bottom: 0;
        }
        .profile-nickname {
            position: absolute;
            bottom: 40px;
            font-family: $f-nav-link;
            font-size: 1.8rem;
        }
    }
    .links {
        height: 6vh;
        background: $c-background-dark;
        padding-left: 17%;
        display: flex;
        align-items: center;

        span {
            margin-right: 45px;
            font-family: $f-nav-link;
            color: $c-white;

            &:hover {
                cursor: pointer;
                color: $c-light-gray;
            }
            a {
                color: inherit;
                font-family: inherit;
                text-decoration: none;
            }
        }
    }
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .stats {
        width: 95%;
        background: $c-background-dark;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        position: relative;
        padding: 30px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        overflow-x: auto;
    }
    .favorites-container {
        width: 95%;
        height: auto;
        margin: auto;
        background: $c-background-dark;
        overflow-x: auto;
    }
    .favorite-remover {
        position: absolute;
        right: -10px;
        top: -10px;
        width: 20px;
        height: 20px;

        &:hover {
            cursor: pointer;
        }
    }
    .stats {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .watched {
            display: flex;
            flex-direction: column;

            span {
                text-align: center;
            }
            .count,
            .category {
                font-family: $f-nav-link;
            }
            .count {
                color: $c-accent;
                font-size: 2rem;
            }
        }
    }
}

// Lists
//=================
#lists {
    display: flex;
    justify-content: center;

    .lists-container {
        width: 80%;

        #search-list {
            display: flex;
            justify-content: left;
            align-items: center;
            background: $c-background-darkest;
            border-radius: $s-small-border-radius;

            img { margin-left: 5px; }
            .search-string {
                width: calc(100% - 25px);
                background: inherit;
            }
        }
        h4 {
            margin-top: 5%;
            font-size: 1.3rem;
            font-weight: bold;
        }
        ul {
            list-style-type: none;
            padding-left: 20px;

            li {
                padding: 5px;
                display: flex;
                justify-content: space-between;

                & .list__name:hover,
                & .remove__list:hover,
                & .cancel__rename:hover {
                    cursor: pointer;
                }
                &.selected {
                    background: $c-background-darker;
                    border-radius: $s-small-border-radius;
                }
            }
        }
    }
}
#animes-container {
    h2 {
        width: 100%;
    }
    .list-section {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;

        .anime-item {
            position: relative;
            display: flex;
            justify-content: center;
            height: auto;
            width: 200px;
            margin: 25px;

            h4 {
                position: absolute;
                left: 0;
                width: 100%;
                bottom: 0;
                text-align: center;
                background: rgba($color: $c-background-dark, $alpha: .8);
                border-radius: 0 0 0 $s-small-border-radius;
                font-size: .9rem;
                padding: .5rem;
                margin: 0;
            }
            img {
                width: 100%;
                height: calc(200px / .73333);
                border-radius: $s-small-border-radius;
            }
        }
    }
}
.lists-empty img {
    margin-top: 30px;
}
.new-list #new-list__name {
    width: 100%;
}

// Favorites
//=================
.reorder {
    margin-top: 20px;
    margin-right: 2.5%;
    padding: 5px;
    border: none;
    width: 12%;
    background: $c-primary;
    border-radius: $s-small-border-radius;

    &:focus {
        outline: none;
    }
}
.favorites-container {
    background: $c-background-darker;
    border-radius: 10px;
    width: 100%;
    height: 750px;
}
.favorites {
    padding: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 90px);
    grid-template-rows: repeat(auto-fill, 121px);
    gap: 20px;

    .no-favorites {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;

        h4 {
            font-family: $f-section-title;
            letter-spacing: .3rem;
            font-size: 1.7rem;
            text-align: center;
            padding: 0 1.2rem;
        }
        span {
            font-family: $f-nav-link;
            font-size: 2rem;
            margin-top: 5%;
            opacity: .5;
        }
    }
    .favorite-item {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 3px;
        }
    }
}

// miscellaneous
//=================
.background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - #{$s-nav-height});
}
.alert button {
    width: 16px;
    height: 16px;
    display: flex;
    margin-top: 4px;
    margin-left: 10px;
}
.alert-success {
    color: $c-success-foreground;
    background: $c-success-background;
    font-weight: bold;
    border: none;
}
input:focus {
    outline: none;
}
.custom-check {
    width: 20px;
    height: 20px;
    background: $c-light-gray;
    border-radius: $s-small-border-radius;
    display: inline-block;
    margin-right: 10px;
    position: relative;

    input {
        display: none;
    }
}
.custom-check.checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.custom-check.checked {
    background: $c-primary-light;
    position: relative;
}
.no-search,
.lists-empty {
    display: flex;
    flex-direction: column;
    align-items: center;

    span,
    h4 {
        color: $c-light-gray;
        margin: 0;
    }
    h4 {
        font-family: $f-section-title;
        letter-spacing: .3rem;
        font-size: 1.7rem;
    }
    .separator {
        width: 80px;
        height: 3px;
        background: $c-light-gray;
        margin: 1.5rem 0;
    }
    span:nth-child(3) {
        font-size: 1.2rem;
        text-align: center;
        font-family: $f-nav-link;
        letter-spacing: .2rem;
    }
    span:nth-child(4) {
        font-family: $f-nav-link;
        font-size: 4rem;
        opacity: .5;
        margin-top: 5%;
    }
}

// Media queries
//=================
@media (min-width: 1450px) {
    .main-home aside .favorites {
        max-height: 750px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
@media (max-width: 1449px) {
    .main-home section {
        padding-right: 80px;
    }
}
@media (min-width: 992px) {
    .profile-header .profile-nickname {
        left: 17%;
    }
}
@media (max-width: 991px) {
    .profile-header .profile-nickname {
        right: 17%;
    }
}